* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #031321;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}

.btn:hover,
.btn:active {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.1s;
}

.btn--flat {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
 
}

.btn--flat:hover,
.btn--flat:active {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.4s;
}
